@charset "UTF-8";
/* student_list */
#studentSearch{
	text-align: right;
}
h1{
	text-align:center;
}
#table{
	margin:30px auto;
}
.c1 {
	width : 50px;
	text-align : center;
	display : inline-block;
	margin-right : 20px;
}
.c2 {
	width : 100px;
	text-align : left;
	display : inline-block;
}
.c3 {
	width : 100px;
	text-align : left;
	display : inline-block;
}
.c4 {
	width : 80px;
	text-align : left;
	display : inline-block;
}
.c5 {
	width : 150px;
	text-align : left;
	display : inline-block;
}
.c6 {
	width : 400px;
	text-align : left;
	display : inline-block;
}
.c7 {
	width : 150px;
	text-align : left;
	display : inline-block;
}
.c8 {
	width : 150px;
	text-align : left;
	display : inline-block;
}
#r1 {
	
	background-color : black;
	color : white;
}
#table {
	width : 1300px;
}
#bottom_line {
	border-top : 1px solid black
}
.pageNumber {
	text-align: center;
}















