@charset "UTF-8";
body{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
main{
	width:1200px;
	min-height:600px;	 /* 최소높이 */
	margin:30px auto;
	border:3px outset #aaa;
	padding:20px;
	border-radius:15px;
	box-shadow:3px 3px 5px #999;
}
main>.main_title{
	font-size: 20pt;
	font-weight:bolder;
	text-align:center;
}
main>form{
	width:320px;
	float:left;
	background-color:#ccc;
	border-radius:10px;
	margin:10px;
	padding:10px;
}
form>span{
	display:inline-block;
	width:80px;
}
form>input[name=id]{
	width:100px;	
}
form>input[name=name]{
	width:120px;
}
form>input[name=phone]{
	width:120px;
}
/* -------목록 표시 부분-------*/


#list{
	float:right;
	width:800px;
}
#list>#title{
	background-color:#444;
	color:#fff;
	padding:2px 30px;
	border-radius:5px;
}

#list span{
	display:inline-block;	
}
#list span.id{
	width:150px;
}
#list span.name{
	width:100px;	
}
#list span.gender{
	width:100px;
}
#list span.phone{
	width:150px;
}

#items{
	padding:2px 30px;	
}
#items>div:last-child{
	border-bottom:2px dotted #aaa;
}
#items>.item:hover{
	background-color:#ddd;
	cursor: pointer;
}
#photo{
	width:200px;
	height:250px;
	border:5px solid #aaa;
	border-radius:7px;
	margin:30px 50px;
}
#photo:hover{
	cursor:pointer;
	background-color:#ddd;
}
#photo_file{
	display:none;
}